.SMContainer{
    /* border: 2px solid palevioletred; */
    width: 31%;
    border-radius: 10px;
    background-color:#171717c4;
    ::-webkit-scrollbar{
  display: none;
}

}
.sidebar-top-sec{
    height: 13%;
    border-top-right-radius:10px ;
    border-top-left-radius: 10px;
    /* border:1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    padding-bottom: 2.5rem;
    align-items: center;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.852);
}
.sidebar-top-sec h1{
   font-size: 1rem;
}
.sidebar-top-sec p{
   font-size: 2rem;
   padding-right: .6rem;
   color: #b3b3b3;
   font-weight:lighter;
}
.sidebar-middle-sec{
    height: 44%;
    /* border: 1px solid red; */
    overflow-y: scroll;
}
.sidebar-middle-cards{
    /* border: 1px solid green; */
    margin: 1.3rem .5rem;
    padding: 1rem;
    border-radius: 10px;
    color: white;
    background-color: #1f1f1f;
}
.sidebar-middle-cards h1{
    font-size: 1rem;
    margin-bottom:.4rem;
}
.sidebar-middle-cards p{
    font-size: .8rem;
    margin-bottom: 1rem;
}
.sidebar-middle-cards button{
    padding: .5rem 1rem;
    background-color: white;
    color:black ;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    outline: none;
    cursor: pointer;

    text-align: center;
}
.sidebar-c1{
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;

}
.sidebar-c1 p{
   margin: .5rem;
   font-size:.7rem;
   
}
.sidebar-c2{
    /* border: 1px solid red; */
    margin-bottom: 1rem;
}
.sidebar-c2 p{
    margin: .5rem;
    margin-left: 2rem; 
    font-size:.8rem;
    font-weight:600;

}
.sidebar-c2 button{
  color: white;
  background-color: transparent;
  padding: .4rem 2rem;
  border: 1px solid white;
  border-radius: 20px;
  margin-left: 2rem;
  outline: none;

}
