.main-section-content-container{
    display: flex;
    /* border: 2px solid red; */
    height:91vh;
    justify-content: space-evenly;
}
.mainContainer{
    /* border: 2px solid orange; */
    height:100vh;
    

}
@media (max-width: 1024px){
    .main-section-content-container{
        flex-direction: column;
        height: auto;
        gap: 10px;
        padding: 10px;
    }

    .mainContainer{
        height: auto;
    }
}

@media (max-width: 768px){
    .main-section-content-container{
        flex-direction: column;
        height: auto;
        padding: 5px;
    }
}