.main-section-content-container{
    display: flex;
    /* border: 2px solid red; */
    height:91vh;
    justify-content: space-evenly;
}
.mainContainer{
    /* border: 2px solid orange; */
    height:100vh;
    

}